/* general layout with flexbox
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_flexbox_to_lay_out_web_applications
*/
body {
    margin: 0;
}
#main {
    display: flex;
    flex-direction: row;
}
#header {
    background: blue;
    width: 100vw;
    height: 80px;
}
#navigation {
    display: block;
    overflow-y: hidden;
    background: yellow;
    width: 240px;
    height: calc(100vh - 160px);
}
#content {
    background: green;
    width: calc(100vw - 240px);
    height: calc(100vh - 160px);
}
#footer {
    background: blue;
    width: 100vw;
    height: 80px;
}