/* general layout with flexbox */
#header {
    background: blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
#navigation {
    background: yellow;
    position: fixed;
    top: 80px;
    left: 0;
    width: 240px;
    bottom: 80px;
}
#content {
    background: green;
    position: fixed;
    top: 80px;
    left: 240px;
    right: 0;
    bottom: 80px;
}
#footer {
    background: blue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
}

/* navigation widgets with fixed height
   total height: 100vh + 100vh - h(hierarchy-breadcrump)

   HIERARCHY VIEW
*/
#hierarchy-tree {
    background-color: lightsalmon;
    /* height: 100 vh - h(header) - h(footer) - h(hierarchy breadcrump) */
    height: calc(100vh - 200px);
}

#hierarchy-breadcrumb {
    background-color: darkorange;
    height: 40px;
}

/* SEQUENCE VIEW
----------------------------
   height of
     hierarchy-breadcrump +
     sequence-viewmode +
     sequence-tree +
     sequence-actionbar =
     100vh - h(header) - h(footer)
*/

#sequence-viewmode {
    background-color: black;
    height: 40px;
    color: white;
}

/* sequence tree height =
   100vh - 80px - 40px - 40px - 40px - 80px =
   100vh - 280px
*/
#sequence-tree {
    background-color: darkcyan;
    height: calc(100vh - 280px);
}

#sequence-actionbar {
    background-color: grey;
    height: 40px;
}